<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

    <h1>Validador de cpf</h1>
    <br>
    <form action="{% url 'consulta_cpf' %}" method="POST">{% csrf_token %}
        <label for="Digo"></label>
        <input type="text" name="cpf" placeholder="Digite um cpf">
        <br>
        <br>
        <input type="submit" value="enviar">
   
    </form>

    {% if resposta%}
        <p><strong></strong>{{ resposta }}</p>
    {% endif %} 

</body>
</html>